---
import Card1 from '../components/Card1.astro';
import Card2 from '../components/Card2.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Lego Website">
    <main class="mx-auto max-w-6xl my-3">
        <Card1  class="min-h-[500px] w-full "
        title="Vive emocionantes aventuras con el nuevo set de LEGO® City"
        body="¡Descubre el nuevo set de LEGO® City! Conviértete en un héroe de la vida cotidiana y vive emocionantes aventuras con el nuevo set de LEGO® City."
        href="#"
        />
        <section class="mt-3 flex gap-3 w-full ">
            <Card2 
                title="FENDER® STRATOCASTER™"
                body="Recrea la Strat junto con un amplificador Princeton® Reverb del 65."
                img="https://tiendalego.com.co/cdn/shop/products/21329-4_851x851.jpg?v=1655134160" />
            <Card2 
                title="LEGO®: Bonsái"
                body="El bonsái, símbolo tradicional de armonía y equilibrio, aportará un toque de calma a tu mundo con este creativo modelo."
                img="http://continente.co/continente.co/articulos/11/banner/65818.jpg" />
                
            <Card2 
                title="Casco del Mandaloriano"
                body="Disfruta de la experiencia de construcción envolvente. Recrea el brillo con elementos LEGO® lacados."
                img="http://continente.co/continente.co/articulos/PTY/11/banner/75328-1.jpg" />
                
            <Card2 
                title="TORRE EIFFEL"
                body="Construye una réplica LEGO® de la Torre Eiffel, uno de los monumentos más famosos del mundo."
                img="https://tiendalego.com.co/cdn/shop/products/10307-5_ef2f6d52-3d9e-4a7d-b9b4-cc3f40fd5d16_851x851.jpg?v=1682451739" />
        </section>

        <section class="mt-6 flex h-[600px]">
            <div class="bg-slate-700 w-full flex flex-col items-center justify-center gap-4 p-7">
                <h2 class="text-white text-2xl font-bold">Novedades</h2>
                <p class="text-white text-lg font-semibold text-center text-balance">
                    ¡Descubre las novedades de LEGO®! Conviértete en un héroe de la vida cotidiana y vive emocionantes aventuras con el nuevo set de LEGO® City.
                </p>
            </div>
            <div class="w-full">
                <img src="https://babyradio.es/wp-content/uploads/2021/07/Lego-1642040517-a0c17264-b80f-452b-ae8f-b3143bd0b718.jpg._cb282497083_-1170x872-1.jpg" alt=""
                class="w-full h-full object-cover">
            </div>
        </section>
        
        <section class="relative mt-6">
            <img src="https://www.lego.com/cdn/cs/set/assets/bltec54a79e09e153c6/21332-Hero-Standard-Large-9.jpg?fit=crop&format=webply&quality=80&width=1600&height=500&dpr=1" alt=""
            class="rounded-lg">
            <p class="absolute top-0 right-0 w-[50%] h-full p-14 text-center mt-14
                text-white text-2xl    
            ">
                El mundo de LEGO® es un mundo de creatividad, imaginación y diversión <span class="text-yellow-300">para todos</span>.
             </p>
        </section>
    </main>
</Layout>