---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Lego Website">
<main class="mx-auto max-w-6xl my-3">

    <h1>Nuestros Servicios</h1>

    <section>
        <h2>Sets de Lego para Todas las Edades</h2>
        <p>Descubre nuestra amplia selección de sets de Lego diseñados para todas las edades. Desde sets básicos para niños hasta complejas estructuras para expertos constructores, tenemos algo para cada nivel de habilidad y gusto.</p>
    </section>

    <section>
        <h2>Eventos y Talleres</h2>
        <p>Participa en nuestros emocionantes eventos y talleres dedicados a la comunidad de constructores de Lego. Desde competiciones de construcción hasta sesiones de aprendizaje, ofrecemos oportunidades para que te involucres y te diviertas con otros amantes de Lego.</p>
    </section>

    <section>
        <h2>Servicios Personalizados</h2>
        <p>¿Tienes una idea específica en mente? Ofrecemos servicios de construcción personalizados para convertir tus visiones en realidad. Contáctanos para discutir tus necesidades y crear algo único junto a nuestro equipo de constructores expertos.</p>
    </section>

    <section>
        <h2>Asesoramiento y Soporte</h2>
        <p>Nuestro equipo está aquí para ofrecerte asesoramiento y soporte. Ya sea que necesites ayuda para elegir el set adecuado o que tengas preguntas sobre técnicas de construcción, estamos comprometidos a brindarte la mejor experiencia Lego posible.</p>
    </section>

    <p>Explora nuestros servicios y sumérgete en el emocionante mundo de Lego con nosotros.</p>


</main>




    
</Layout>