---
const { title, body, img } = Astro.props;
const { class: className } = Astro.props;
---

<article
    class=`${className} relative h-72 w-full  rounded-xl flex flex-col hover:scale-105
    [&>p]:hover:opacity-100 transition-all duration-200 ease-in`>
    <img src={img} alt="" class="absolute object-cover w-full h-full  rounded-xl" />

    <div class="flex h-full items-end ">
        <h1 class="flex items-center z-20 text-lg text-white font-bold text-pretty bg-black w-full
            rounded-b-xl px-3 h-10">
            {title}
        </h1>
    </div>
    
    <p class="absolute z-50 w-full opacity-0 transition-opacity duration-200 ease-in
        text-base text-white text-pretty
        bg-black/50 p-2
        bottom-10 
        ">{body}
    </p>
</article>

<style>
    article {
        background: linear-gradient(
            90deg,
            rgba(0, 0, 0, 0.7) 0%,
            rgba(0, 0, 0, 0.7) 100%
        );
    }
    h1,
    p,
    a {
        text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.7);
    }

    
</style>
